<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static  'css/landingPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/landingPageFonts.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <title>Title</title>

</head>
<body>
  <div class="body">
      <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md12 text-title">
                NAVITA-IOT
            </div>
        </div>

    </div>
  </div>

  <script src="../../static/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="./js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="../../static/js/plugins.js"></script>
  <script src="../../static/js/main.js"></script>

</body>
</html>