.body{
    background-color: #FFFFFF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-title{
  font-family: Kanit-SemiBold;
  font-size: 72px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  /*color: #000000;*/
  background: -webkit-linear-gradient(#28B0C8, #33cc33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header{

}

/*.index-bg {*/
/*    position: relative;*/
/*    background-image: url("../images/img-large-7.png");*/
/*    background-position: top left;*/
/*    background-size: 100% 100%;*/
/*    background-repeat: no-repeat;*/
/*    width: 1440px;*/
/*    height: 644px;*/
/*    object-fit: contain;*/
/*}*/

/*.header-row1{*/
/*  padding-top: 2%;*/
/*  padding-bottom: 0%;*/
/*}*/

/*.header-row2{*/
/*  padding-top: 1%;*/
/*  padding-bottom:1%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*}*/

/*.header-border{*/
/*  width: 120px;*/
/*  height: 34px;*/
/*  border-radius: 12px;*/
/*  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);*/
/*  border: solid 0.5px #ebe8e8;*/
/*  background-color: #194478;*/
/*}*/
/*.envest-logo{*/
/*  width: 40%;*/
/*  height: 40%;*/
/*}*/
/*.Artboard3{*/
/*  padding-top: 10%;*/
/*  width: 120%;*/
/*  height: 120%;*/
/*}*/

/*#en {*/
/*  display: none;*/
/*}*/

/*.button_lang {*/
/*  background-color: #444;*/
/*  color: #FFF;*/
/*  padding: 8px 20px;*/
/*  border-radius: 5px;*/

/*  -webkit-transition: background-color .3s ease-in-out;*/
/*  -moz-transition: background-color .3s ease-in-out;*/
/*  -o-transition: background-color .3s ease-in-out;*/
/*  -ms-transition: background-color .3s ease-in-out;*/
/*  transition: background-color .3s ease-in-out;*/
/*}*/
/*.button_lang:hover, .current_lang {*/
/*  background-color: #194478;*/
/*  -webkit-transition: background-color .3s ease-in-out;*/
/*  -moz-transition: background-color .3s ease-in-out;*/
/*  -o-transition: background-color .3s ease-in-out;*/
/*  -ms-transition: background-color .3s ease-in-out;*/
/*  transition: background-color .3s ease-in-out;*/
/*}*/
/*ul li {*/
/*  width: auto;*/
/*  display: inline;*/
/*}*/


/*.footer-row1{*/
/*  padding-top: 5%;*/
/*  padding-bottom: 0%;*/
/*  background-color: #194478;*/
/*}*/


/*.footer-row2{*/
/*  padding-right: 15%;*/
/*  padding-left: 15%;*/
/*}*/
/*.footer-row3{*/
/*  padding-top: 1%;*/
/*  padding-bottom: 1%;*/

/*  padding-right: 15%;*/
/*  padding-left: 15%;*/
/*}*/

/*.footer-email{*/

/*}*/
/*.footer-submit{*/
/*  background-color: #262626;*/

/*}*/
/*.footer-bg2{*/
/*  background-position: top left;*/
/*  background-size: 100% 100%;*/
/*  background-color: #262626;*/
/*}*/

/*.footer-text2{*/
/*  width: 175px;*/
/*  height: 26px;*/
/*  font-family: Kanit-Light;*/
/*  font-size: 14px;*/
/*  font-weight: normal;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.21;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #ffffff;*/
/*}*/

/*.block1-row{*/
/*  padding-left: 15%;*/
/*  padding-right: 15%;*/
/*}*/

/*.block1-col{*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/
/*}*/

/*.text1-1{*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  letter-spacing: normal;*/
/*  width: 312px;*/
/*  height: 96px;*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 32px;*/
/*  line-height: 1.5;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/

/*.text1-2{*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  letter-spacing: normal;*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 24px;*/
/*  line-height: 1.46;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/

/*.text1-3{*/
/*font-family: Kanit-Light;*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.19;*/
/*letter-spacing: normal;*/
/*text-align: center;*/
/*color: #ffffff;*/
/*}*/

/*.power-solar {*/
/*  width: 65px;*/
/*  height: 65px;*/
/*  object-fit: contain;*/
/*}*/

/*.skyline {*/
/*  width: 65px;*/
/*  height: 65px;*/
/*  object-fit: contain;*/
/*}*/

/*.-hand-shake {*/
/*  width: 128px;*/
/*  height: 80px;*/
/*  object-fit: contain;*/
/*}*/

/*.-solar-panel {*/
/*  width: 111px;*/
/*  height: 123.8px;*/
/*  object-fit: contain;*/
/*}*/

/*.Outline {*/
/*  width: 134.3px;*/
/*  height: 134.3px;*/
/*  object-fit: contain;*/
/*}*/

/*.ecology {*/
/*  width: 110.7px;*/
/*  height: 110.7px;*/
/*  object-fit: contain;*/
/*  background-color: #05790e;*/
/*}*/





/*.block2-row1{*/
/*  padding-top: 2%;*/
/*  padding-bottom:0%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*}*/
/*.block2-row2{*/

/*  padding-left: 2%;*/
/*  padding-right: 2%;*/
/*}*/

/*.block2-row3{*/
/*  padding-top: 2%;*/
/*  padding-bottom:0%;*/
/*  height: 140px;*/
/*}*/

/*.block2-row4{*/
/*  height: 56px;*/
/*}*/

/*.block2-row5{*/
/*  height: 96px;*/
/*}*/

/*.block2-border{*/
/*  width: 550px;*/
/*  height: 300px;*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/
/*}*/


/*.text2-1{*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 48px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.5;*/
/*   letter-spacing: normal;*/
/*   text-align: center;*/
/*   color: #707070;*/
/* }*/

/* .text2-2{*/
/*     font-family: Kanit-SemiBold;*/
/*     font-size: 32px;*/
/*     font-weight: 600;*/
/*     font-stretch: normal;*/
/*     font-style: normal;*/
/*     line-height: 1.5;*/
/*     letter-spacing: normal;*/
/*     text-align: center;*/
/*     color: #707070;*/
/* }*/

/* .text2-3{*/
/*   text-shadow: 0 3px 6px rgba(230, 38, 38, 0.16);*/
/*   font-family: Kanit-Light;*/
/*   font-size: 16px;*/
/*   font-weight: 300;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.5;*/
/*   letter-spacing: normal;*/
/*   text-align: center;*/
/*   color: #707070;*/
/* }*/

/*.block3-row1{*/
/*  padding-top: 2%;*/
/*  padding-bottom:0%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/

/*}*/

/*.block3-row2{*/
/*  padding-top: 2%;*/
/*  padding-bottom: 2%;*/
/*  padding-left: 12%;*/
/*  padding-right: 12%;*/
/*}*/

/*.block3-border{*/
/*  width: 424px;*/
/*  height: 168px;*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/
/*}*/

/*.block3-row3{*/
/*  padding-top: 5%;*/
/*  padding-bottom: 5%;*/

/*}*/
/*.block3-logo{*/
/*  padding-top: 30px;*/
/*}*/
/*.logo{*/
/*  width: 73px;*/
/*  height: 73px;*/
/*}*/

/*.text3-1{*/
/*   width: 451px;*/
/*   height: 72px;*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 48px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.5;*/
/*   letter-spacing: normal;*/
/*   text-align: center;*/
/*   color: #707070;*/
/* }*/

/* .text3-2{*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 24px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.46;*/
/*   letter-spacing: normal;*/
/*   text-align: right;*/
/*   color: #707070;*/
/* }*/

/* .text3-3{*/
/* font-family: Kanit-Light;*/
/* font-size: 20px;*/
/* font-weight: 300;*/
/* font-stretch: normal;*/
/* font-style: normal;*/
/* line-height: 1.2;*/
/* letter-spacing: normal;*/
/* text-align: right;*/
/* color: #707070;*/
/* }*/

/* .text3-4{*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 24px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.46;*/
/*   letter-spacing: normal;*/
/*   text-align: left;*/
/*   color: #707070;*/
/* }*/


/* .text3-5{*/
/* font-family: Kanit-Light;*/
/* font-size: 20px;*/
/* font-weight: 300;*/
/* font-stretch: normal;*/
/* font-style: normal;*/
/* line-height: 1.2;*/
/* letter-spacing: normal;*/
/* text-align: left;*/
/* color: #707070;*/
/* }*/

/*.Artboard1{*/
/*  width: 200%;*/
/*  height: 600px;*/
/*}*/

/*.block4-row1{*/
/*  padding-top: 2%;*/
/*  padding-bottom:2%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*}*/

/*.block4-row2{*/
/*  padding-top: 2%;*/
/*  padding-bottom:2%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/

/*}*/

/*.text4-1{*/
/*  width: 451px;*/
/*  height: 72px;*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 48px;*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/

/*.Artboard2{*/
/*  width: 50%;*/
/*  height: 50%;*/
/*}*/

/* .block5-row1{*/
/*   padding-top: 2%;*/
/*   padding-bottom:2%;*/
/*   padding-left: 5%;*/
/*   padding-right: 5%;*/
/* }*/

/*.block5-row2{*/
/*  padding-top: 2%;*/
/*  padding-bottom: 0%;*/
/*  padding-left: 3%;*/
/*  padding-right: 3%;*/

/*}*/
/*.block5-row3{*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*}*/
/*.block5-row4{*/
/*  padding-top: 5%;*/
/*  padding-bottom: 2%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/

/*}*/

/*.block5-border{*/
/*  width: 591px;*/
/*  height: 244px;*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/

/*}*/

/* .text5-1{*/
/*   width: 451px;*/
/*   height: 72px;*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 48px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.5;*/
/*   letter-spacing: normal;*/
/*   text-align: center;*/
/*   color: #707070;*/
/*}*/

/*.text5-2{*/
/*  width: auto;*/
/*  height: 100px;*/
/*  padding-top: 20px;*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 32px;*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*  color: #707070;*/
/*}*/
/*.text5-3{*/
/*  text-shadow: 0 3px 6px rgba(230, 38, 38, 0.16);*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/
/*.PEA-logo {*/
/*  width: auto;  height: 100px;*/

/*}*/
/*.team-logo {*/
/*  width: auto;  height: 100px;*/
/*}*/


/* .block6-row1{*/
/*   padding-top: 2%;*/
/*   padding-bottom:0%;*/
/*   padding-left: 5%;*/
/*   padding-right: 5%;*/

/* }*/
/*.block6-row2{*/
/*  padding-top: 2%;*/
/*  padding-bottom: 2%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*}*/

/*.block6-row3{*/
/*  padding-top: 2%;*/
/*  padding-bottom: 2%;*/
/*  padding-left: 15%;*/
/*  padding-right: 15%;*/
/*}*/
/*.block6-row4{*/
/*  padding-top: 0%;*/
/*  padding-bottom: 2%;*/
/*  padding-left: 15%;*/
/*  padding-right: 0%;*/
/*}*/

/* .block6-border{*/
/*   width: 591px;*/
/*   height: 244px;*/
/*   border-radius: 8px;*/
/*   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*   background-color: #ffffff;*/
/* }*/

/*.text6-1{*/
/*  width: 451px;*/
/*  height: 72px;*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 48px;*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/

/*}*/
/*.text6-2{*/
/*  width: 728px;*/
/*  height: 66px;*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/

/*.text6-3{*/
/*  width: 510px;*/
/*  height: 115px;*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/

/* .profile {*/
/*   width: 80px;*/
/*   height: 80px;*/
/*   object-fit: contain;*/
/* }*/



/*.block1{*/
/*  background-color: #ffffff;*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*  padding-top: 5px;*/
/*  padding-bottom: 5px;*/
/*}*/
/*.block2{*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/
/*}*/

/*.block3{*/
/*  padding-top: 10px;*/
/*  padding-bottom: 10px;*/
/*  background-color: #ffffff;*/
/*}*/
/*.block4{*/
/*  padding-left: 10px;*/
/*  padding-right: 10px;*/
/*  background-color: #ffffff;*/

/*}*/
/*.block5{*/
/*  width: 592px;*/
/*  height: 381px;*/
/*  border-radius: 8px;*/
/*  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*  background-color: #ffffff;*/
/*}*/

/*.block6{*/
/*width: 424px;*/
/*height: 168px;*/
/*border-radius: 8px;*/
/*box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*background-color: #ffffff;*/
/*}*/

/*.block7{*/
/*  padding-left: 40px;*/
/*  padding-right: 40px;*/
/*  background-color: #ffffff;*/

/*}*/

/*.block8{*/
/*  width: 591px;*/
/*height: 244px;*/
/*opacity: 0.8;*/
/*border-radius: 8px;*/
/*box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*background-color: #ffffff;*/
/*}*/
/*.block9{*/
/*width: 591px;*/
/*height: 244px;*/
/*opacity: 0.8;*/
/*border-radius: 8px;*/
/*box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);*/
/*background-color: #ffffff;*/
/*.border_right{border-right: 1px solid}*/
/*}*/

/*.title1{*/
/*   width: 451px;*/
/*   height: 72px;*/
/*   font-family: Kanit-SemiBold;*/
/*   font-size: 48px;*/
/*   font-weight: 600;*/
/*   font-stretch: normal;*/
/*   font-style: normal;*/
/*   line-height: 1.5;*/
/*   letter-spacing: normal;*/
/*   text-align: center;*/
/*   color: #707070;*/
/* }*/
/*.title2{*/
/*    width: 312px;*/
/*    height: 96px;*/
/*    font-family: Kanit-SemiBold;*/
/*    font-size: 32px;*/
/*    font-weight: 600;*/
/*    font-stretch: normal;*/
/*    font-style: normal;*/
/*    line-height: 1.5;*/
/*    letter-spacing: normal;*/
/*    text-align: center;*/
/*    color: #707070;*/
/*}*/

/*.text1-style-1{*/
/*  width: 75px;*/
/*  height: 30px;*/
/*  font-family: kanit-Regular;*/
/*  font-size: 20px;*/
/*  font-weight: normal;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: left;*/
/*  color: #ffffff;*/
/*}*/

/*.text1-style-2{*/
/*font-family: Kanit-SemiBold;*/
/*font-size: 32px;*/
/*font-weight: 600;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.5;*/
/*letter-spacing: normal;*/
/*text-align: right;*/
/*color: #ffffff;*/
/*}*/

/*.text1-style-3{*/
/*font-family: Kanit-SemiBold;*/
/*font-size: 48px;*/
/*font-weight: 600;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.46;*/
/*letter-spacing: normal;*/
/*text-align: center;*/
/*color: #ffffff;*/
/*}*/

/*.text1-style-4{*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 24px;*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.46;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/



/*.text2-style-1{*/
/*  text-shadow: 0 3px 6px rgba(230, 38, 38, 0.16);*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #707070;*/
/*}*/
/*.text2-style-2{*/
/*  text-shadow: 0 3px 6px rgba(230, 38, 38, 0.16);*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: left;*/
/*  color: #707070;*/
/*}*/


/*.text3-style-1{*/
/*  font-family: Kanit-SemiBold;*/
/*  font-size: 24px;*/
/*  font-weight: 600;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.46;*/
/*  letter-spacing: normal;*/
/*  text-align: right;*/
/*  color: #707070;*/
/*}*/


/*.text3-style-2{*/
/*font-family: Kanit-Light;*/
/*font-size: 20px;*/
/*font-weight: 300;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.2;*/
/*letter-spacing: normal;*/
/*text-align: right;*/
/*color: #707070;*/
/*}*/

/*.text4-style-1{*/
/*font-family: Kanit-SemiBold;*/
/*font-size: 24px;*/
/*font-weight: 600;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.46;*/
/*letter-spacing: normal;*/
/*text-align: left;*/
/*color: #707070;*/
/*}*/


/*.text4-style-2{*/
/*font-family: Kanit-Light;*/
/*font-size: 16px;*/
/*font-weight: 300;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.5;*/
/*letter-spacing: normal;*/
/*text-align: left;*/
/*color: #707070;*/
/*}*/

/*.text5-style-1{*/
/*  font-family: Kanit-Light;*/
/*font-size: 16px;*/
/*font-weight: 300;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.5;*/
/*letter-spacing: normal;*/
/*text-align: center;*/
/*color: #707070;*/
/*}*/

/*.text5-style-2{*/
/*font-family: Kanit-SemiBold;*/
/*font-size: 32px;*/
/*font-weight: 600;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.5;*/
/*letter-spacing: normal;*/
/*text-align: left;*/
/*color: #707070;*/
/*}*/

/*.text5-style-3{*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: 300;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: left;*/
/*  color: #707070;*/
/*}*/

/*.btn {*/
/*  border: none;*/
/*  background-color: #12517f;*/
/*  padding: 14px 28px;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*  display: inline-block;*/
/*}*/

/*.text5{*/
/*font-family: Kanit-Light;*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*font-stretch: normal;*/
/*font-style: normal;*/
/*line-height: 1.19;*/
/*letter-spacing: normal;*/
/*text-align: center;*/
/*color: #ffffff;*/
/*}*/



/*.text-footer1{*/
/*  font-family: Kanit-Light;*/
/*  font-size: 16px;*/
/*  font-weight: normal;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.5;*/
/*  letter-spacing: normal;*/
/*  text-align: left;*/
/*  color: #ffffff;*/
/*}*/



/*!* .text3{*/
/*  font-family: kanitRegular;*/
/*  font-size: 40px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #f7b500;*/
/*}*/
/*.text4{*/
/*  font-family: kanitRegular;*/
/*  font-size: 40px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #1faa63;*/
/*}*/
/*.text5{*/
/*  font-family: kanitRegular;*/
/*  font-size: 40px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #373363;*/
/*}*/
/*.text6{*/
/*  font-family: kanitRegular;*/
/*  font-size: 36px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #6236ff;*/
/*}*/


/*.text7{*/
/*  font-family: kanitRegular;*/
/*  font-size: 14px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.07;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: #000000;*/
/*}*/

/*.text8{*/
/*  font-family: kanitRegular;*/
/*  font-size: 14px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: 1.07;*/
/*  letter-spacing: normal;*/
/*  text-align: center;*/
/*  color: rgba(164, 167, 180, 0.99);*/
/*}*/

/*.text9{*/
/*  font-family: kanitRegular;*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #000000;*/
/*}*/

/*.text9-style2{*/
/*    font-family: kanitRegular;*/

/*  font-size: 26px;*/
/*  color: #1faa63;*/
/*}*/

/*.text9-style3{*/
/*    font-family: kanitRegular;*/

/*  font-size: 26px;*/
/*  color: #df1717;*/
/*}*/


/*.text9-style4{*/
/*    font-family: kanitRegular;*/

/*  font-size: 26px;*/
/*  color: #6dd400;*/
/*}*/

/*.text9-style5{*/
/*    font-family: kanitRegular;*/
/*  font-size: 26px;*/
/*  color: #b620e0;*/
/*}*/

/*.text10{*/
/*  font-family: kanitRegularMed;*/
/*  font-size: 36px;*/
/*  font-weight: 900;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #6236ff;*/
/*}*/

/*.text11{*/
/*  font-family: kanitRegularMed;*/
/*  font-size: 28px;*/
/*  font-weight: 500;*/
/*  font-stretch: normal;*/
/*  font-style: normal;*/
/*  line-height: normal;*/
/*  letter-spacing: normal;*/
/*  color: #000000;*/
/*}*/


/*.clock{*/
/*    width: 18px;*/
/*  height: 25px;*/

/*} *!*/
